.*
.*/**

/*/build/www/**
/*/out/*
/*/bin/*
/*/deploy/*

*.lock

node_modules/*
npm-debug.log.*

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/

# Visual Studio Code
.vscode/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db


# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Mac OSX
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Logs
*.log*

# Others
*.class
*.*~
*~
.merge_file*

.eslintcache

!.gitignore
# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

!.yo-rc.json
!.editorconfig
!.angular-cli.jsona
!.npmrc
